*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(159, 131, 79);
}
.container{
    border: 2px dotted black;
    /* padding: 8px; */
    display: grid;
    grid-template-columns: 33.333% 33.333% 33.333%;
    
    /* grid: auto-flow dense / 40px 40px 40px 40px; */
    /* grid-template-columns: min-content; */
}
.items{
    border: 1px solid blueviolet;
    height:500px;
}