*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-style: normal;
}
body{background-color: rgb(221, 222, 223);}
a{
    text-decoration: none;
}
div{
    margin: 2px;
    padding: 2px;
}
.cart{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 10px;
    /* border: 2px solid green; */
    background-color: rgb(238, 235, 235);
}
.cart_items,.cart_nav{
    padding: 10px;
}
.cart_nav,.cart_items_list{
    border-bottom: 1px solid rgb(220, 216, 216);
    background-color: white;
    margin-bottom: 5px;
}
.cart_nav > .back{
    font-size: 25px;
    font-weight: 500;
}
.cart_items_list > .cart_text{
    font-size: 20px;
    font-weight: 500;
    color: gray;
}
.cart_items_details{
    border-color: aqua;
    display: inline-block;
}
.cart_items_details > .details{
    display: flex;
}
.cart_items_details > .details > .text_img{
    width: 100px;
    /* height: 100px; */
    overflow: hidden;
}
.cart_items_details > .details > .text{
    display: flex;
    flex-direction: column;
}
.cart_items_details > .details > .text > a{
    padding-left: 10px;
}
.cart_items_details > .details > .text_det{
    display: grid;
    grid-template-areas: 
    "b b"
    "c "
    "d "
    ;
}
.item_quentity{
    display: grid;
    grid-template-columns: 100px 1fr 100px;
}
.quentity_ele > input{
    width: 40px;
    margin-left: 50px;
    height: 25px;
    border-radius: 3px;
}


/* cart price detiels sections css */
.cart_price_detiels {
    /* border: 1px solid black ; */
    /* display: inline-block; */
}
.cart_price_detiels > .delivery_det{
    /* border: 1px solid red; */
}

/* add new address */
.add_new_address{
    /* border: 1px dotted; */
    display: grid;
    justify-content: center;
    display: none;
    /* width: 0; */
}
.add_new_address >form> :nth-child(1){
    width: 400px;
}
.add_new_address >form> :nth-child(2){
    width: 50px;
    /* height: ; */
}
/* .add_new_address{
    display: none;
    display: contents;
} */
.place_order{
    font-size: 20px;
    border-style: none;
    background-color: cadetblue;
    border-radius: 6px;
    padding: 5px;
}
.place_order_div{
    display: flex;
    justify-content: center;
    margin: 5px;
    padding: 5px;
}
.heding{
    background-color: white;
    margin: 10px;
    padding: 10px;
    font-size: 25px;
    font-weight: 400;
    border-bottom: 1px solid rgb(218, 216, 216);
}
.total_price_detils ,.delivery_det{
    background-color: white;
    margin: 10px;
}
.total_price_detils > div > span{
    padding: 10px;
}
.select_address{
    padding-left: 10px;
    /* background-color: aquamarine; */
    border-style: none;
}.delivery_det{
    height: 150px;
}
.total_price_detils > div > :nth-child(1){
    font-weight: 500;
}
.total_price_detils > div{
    width: 400px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}